* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Helvetica", "Arial";
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
}

.container {
    height: 712px;
    width: 375px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: black;

    border-radius: 50px;
    border: 8px rgba(128, 128, 128, 0.3) solid;
    /* border: 8px rgba(243, 240, 240, 0.829) solid; */

    box-shadow: 0 0 100px rgba(0, 0, 0, 0.9);
}

/* Top part of the phone, that shous time, signal, wifi, battery */
.top-container {
    width: 100%;
    padding: 0 25px;

    display: flex;
    justify-content: space-between;
}

.time, 
.singal-wifi-batery-container {
    margin-top: 10px;
    font-size: 13px;
}

.time {
    font-size: 15px;
}

.bangs {
    width: 120px;
    height: 25px;
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 0 0 10px 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
/* The white lnie inside the bangs, "the speaker" */
.white-line {
    width: 80%;
    height: 5px;
    margin-top: -5px;

    background-color: rgb(187, 185, 185);
    border-radius: 5px;
}


/* Middle Section */
.container-middle-section {
    height: 87%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 30px;
}

.result-and-number-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* Organazing the buttons in the corret order */
.numbers-container {
    display: grid;
    grid-gap: 10px;

    grid-template-areas: 
        'ac plus-minus percent divide'
        'seven eight nine multiplication'
        'four five six minus'
        'one two three plus'
        'zeroo zeroo dott equal';
    ;
}

/* Button's Style */
.button-style,
.zero {
    width: 65px;
    height: 65px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 30px;
}

.button-style:hover {
    cursor: pointer;
}

.gray:hover {
    background-color: #FBFBFB;
}

.dark-gray:hover {
    background-color: #606060;
}

.orange:hover {
    background-color: #FFB54D;
}

.divide,
.minus,
.plus,
.equal {
    font-size: 40px;
}

.ac {
    font-size: 30px;
}

.zero {
    width: 140px !important; 
    border-radius: 50px;
}

.light-gray {
    background-color: #D4D4D2;
}

.gray {
    background-color: #D4D4D2;
    color: black;
}

.dark-gray {
    background-color: #1C1C1C;
}

.orange {
    background-color: #FF9500;
}

/* "Labeling" each number and symbol for GRID TEMPLATE AREA */
.ac             {    grid-template: ac;             }
.plus-minus     {    grid-template: plus-minus;     }
.percent        {    grid-template: percent;        }
.divide         {    grid-template: divide;         }
.seven          {    grid-template: seven;          }
.eight          {    grid-template: eight;          }
.nine           {    grid-template: nine;           }
.multiplication {    grid-template: multiplication; }
.four           {    grid-template: four;           }
.five           {    grid-template: five;           }
.six            {    grid-template: six;            }
.minus          {    grid-template: minus;          }
.one            {    grid-template: one;            }
.two            {    grid-template: two;            }
.three          {    grid-template: three;          }
.plus           {    grid-template: plus;           }
.zero           {    grid-template: zeroo;   grid-column-start: 1;    grid-column-end: 3; }
.dott           {    grid-template: dott;           }
.equal          {    grid-template: equal;          }

.result {
    font-size: 60px;
    margin-bottom: 15px;
    width: 280px;
    max-height: 160px;
    text-align: end;
    overflow-y: scroll;
    word-break: break-all; 
}

/* Hide scrollbar for Chrome, Safari and Opera */
.result::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE, Edge and Firefox */
.result {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}


/* Bottom Section */
.bottom-section {
    background-color: white;
    width: 130px;
    height: 6px;
    border-radius: 10px;
   margin-bottom: 15px;
}

.activate {
    color: #FFB54D;
    background-color: white;
}